@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#050816;
color:white;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:40px;
}

.menu,.theme{
width:50px;
height:50px;
border-radius:15px;
background:rgba(255,255,255,.05);
display:flex;
justify-content:center;
align-items:center;
font-size:24px;
}

header h2{
font-size:14px;
letter-spacing:5px;
}

.title{
text-align:center;
margin-bottom:30px;
}

.title h1{
font-size:42px;
}

.title p{
opacity:.6;
}

.chapter-list{
display:flex;
flex-direction:column;
gap:18px;
}

.card{
display:flex;
align-items:center;
background:rgba(255,255,255,.05);
backdrop-filter:blur(15px);
padding:25px;
border-radius:24px;
text-decoration:none;
color:white;
}

.number{
font-size:40px;
font-weight:700;
width:70px;
}

.content{
flex:1;
}

.content h3{
font-size:22px;
margin-bottom:5px;
}

.content p{
opacity:.6;
font-size:14px;
}

.arrow{
font-size:35px;
}

.blue{color:#4f7cff;}
.purple{color:#a855f7;}
.pink{color:#ec4899;}
.orange{color:#f97316;}
.green{color:#22c55e;}
.cyan{color:#06b6d4;}

.card{
    text-decoration:none;
    color:white;
}

.light-mode{
    background:#f5f7ff;
    color:#111;
}

.light-mode .card{
    background:white;
    color:#111;
}

.light-mode .content p{
    color:#555;
}
.side-menu{
    position:fixed;
    top:0;
    left:-260px;
    width:250px;
    height:100vh;
    background:#111827;
    padding:30px;
    transition: all .3s ease;
    z-index:999;
}

.side-menu.active{
    left:0;
}

.side-menu a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 0;
    font-size:18px;
}

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    opacity:0;
    visibility:hidden;
    transition: all .3s ease;
}

.overlay.active{
    opacity:1;
    visibility:visible;
}
